:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  --app-monospace-font: ui-monospace, monospace;
  --app-background-color: white;
}

:root,
body {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: var(--app-background-color);
  overflow-y: scroll;
}

.app-cl-primary {
  --app-color: blue;
}

.app-cl-warn {
  --app-color: red;
}

.app-cl-column-container {
  display: flex;
  flex-direction: column;

  row-gap: 4px;
}

input[type='number'],
.app-cl-number {
  font-family: var(--app-monospace-font);
  text-align: right;
}

.app-cl-btn {
  display: inline-flex;
  flex-direction: row;

  align-items: center;

  padding: 0.5em 1ch;

  font-weight: bold;

  color: var(--app-color, inherit);

  & > * {
    pointer-events: none;
  }

  &.app-cl-icon {
    padding: 0px;
  }

  &:disabled {
    opacity: 0.25;
  }
}

.app-cmp-number {
  display: flex;
  flex-direction: row;

  align-items: stretch;

  & > label {
    flex: 1 0 auto;

    display: inline-flex;
    flex-direction: row;

    align-items: baseline;

    & > b {
      display: inherit;
      flex-direction: inherit;
      align-items: inherit;

      margin-right: 1ch;

      width: 10ch;

      & > .app-title-number {
        margin-left: auto;

        font-family: var(--app-monospace-font);
      }
    }

    & > :is(input, output) {
      flex: 1 0 auto;

      box-sizing: border-box;
      height: 100%;
    }

    & > output {
      font-weight: bold;
      text-decoration: underline double;
    }
  }
}

.app-cmp-section {
  display: flex;
  flex-direction: column;

  width: min(320px, 100%);

  margin-left: auto;
  margin-right: auto;

  padding-bottom: 1em;

  & > header {
    display: flex;
    flex-direction: row;

    align-items: center;

    background-color: var(--app-background-color);

    padding-bottom: 8px;

    border-bottom: 1px solid black;

    position: sticky;
    top: 0px;

    & > * {
      margin: 0px;
    }

    & > h2 {
      margin-left: auto;
      margin-right: auto;

      & > .app-section-number {
        display: inline-block;

        margin-left: 1ch;
        width: 3ch;
      }
    }
  }

  .app-cl-column-container {
    margin-bottom: 1em;
  }

  .app-cmp-number-list {
    margin-top: 1em;

    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }
}

.app-cmp-float {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  overflow: visible;
}

.app-cmp-section-list {
  margin-top: 1em;
}
